---
title: The Iron Yard
---

<div class="welcome">
  <body>

    <img src = "http://tiy-durham-june2014-frontend.github.io/iron-slides/images/tiy-logo.png"
     alt = "The Iron Yard logo" width="60%" height="60%">
    <h1>Welcome to The Iron Yard powered by Smashing Boxes.</h1>

    <h2>Learn to code. Get a job. Maybe.</h2>


    <p><strong>The Iron Yard Academy</strong> teaches intensive, three month courses that mentor you into a professional junior-level programmer.  Our program goes far beyond tactical skills and teaches you to think like a <em>software enginee</em>.  Programming is a lifelong study, and our process shows you to learn how to <em>learn so you remain highly valueable for the rest of your career</em>.</p>

    <h2>Locations</h2>

    <ul>
      <% locations.each do |location| %>
        <li><%= link_to location, "http://theironyard.com/" %></li>
      <% end %>
    </ul>


    <%= link_to "Follow us on Twitter", "https://twitter.com/TheIronYard" %>
  </body>
</div><!-- .welcome -->
